body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
/* index.css */

/* Estilos para o container principal */
.container {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Estilos para o logotipo */
.logo {
  width: 100px;
  height: 100px;
  background-color: #007bff; /* Cor de fundo azul (exemplo) */
  margin: 0 auto;
  border-radius: 50%;
}

/* Estilos para o título "Cars" */
.titulo {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}

/* Estilos para a lista de carros */
.lista-carros {
  text-align: left;
}

.lista-carros h2 {
  font-size: 20px;
}

.lista-carros ul {
  list-style-type: none;
  padding: 0;
}

.lista-carros li {
  margin: 10px 0;
}

